body {
	background-color: rgb(255,0,255);
	color : #42dff4;
	font-family: "Vivaldi", "Verdana";
	font-size: 13px;
	padding: 40px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}

p {
	text-align: justify;
}

figure {
	border: 1px solid black;
	width: 300px; 
	padding: 40px;
	margin: 20px;
}

img {
	width: inherit;
}

figcaption {
	font-style: italic; 
	text-align: center;
}